@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main Config */
@layer utilities {
  html {
    font-size: 62.5%;
  }

  .text-hover {
    @apply hover:text-hoverColor transition-all hover:duration-150;
  }
}

/* Dark and Light mode*/
.dark body {
  --background: 28, 25, 23;
  --svg-fill: 245, 245, 245;
  --btn-bg: 245, 245, 245;

  --btn-color: 245, 245, 244;
  --primary-white: 28, 25, 23;
  --primary-gray: 214, 211, 209;

  --text-layout: 168, 162, 158;

  background: rgb(var(--background));
}

.light body {
  --background: 245, 245, 244;

  --svg-fill: 28, 25, 23;
  --btn-bg: 28, 25, 23;

  --btn-color: 28, 25, 23;
  --primary-white: 245, 245, 244;
  --primary-gray: 162, 165, 165;

  --text-layout: 87, 83, 78;

  background: rgb(var(--background));
}

/* Animation for projects */
@layer utilities {
  .image-hover {
    @apply relative cursor-pointer object-cover h-[400px] overflow-hidden
    py-[1.8rem] px-8 flex items-end break-inside-avoid bg-no-repeat rounded-xl;
    margin: 0px 0px 1.5em;
    background-color: #0000;
    background-position: center center;
  }

  .image-hover::before {
    content: "";
    @apply pointer-events-none inset-0 -z-10 absolute block;
    background: radial-gradient(
      circle,
      white 10%,
      whitesmoke 11%,
      whitesmoke 100%
    );
  }

  .image-hover::after {
    content: "";
    @apply pointer-events-none absolute z-10 inset-0 opacity-[0.3];
    background: linear-gradient(
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.78) 80%
    );
  }

  .image-hover img {
    @apply absolute object-cover overflow-hidden;
    vertical-align: middle;
    width: 100% !important;
    height: 100% !important;
    left: 0px !important;
    top: 0px !important;
  }

  .content-hidden {
    @apply opacity-100 translate-y-[10%] min-[785px]:opacity-0;
    transition: opacity 300ms ease-in-out 0s, transform 300ms ease-in-out 0s;
  }

  .image-hover:hover::after {
    opacity: 1;
  }

  .image-hover:hover .content-hidden {
    z-index: 20;
    transform: none;
    opacity: 1;
  }

  @media (max-width: 785px) {
    .image-hover::after {
      opacity: 1;
    }
    .image-hover .content-hidden {
      z-index: 20;
      transform: none;
      opacity: 1;
    }
  }
}

/* Geral classes */
@layer components {
  .strong > strong {
    text-transform: uppercase;
    text-decoration: underline;
  }

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid black;
    border-right-color: gray;
    animation: rotate 1s infinite linear;
  }

  .forward {
    margin-left: 2rem;
    animation-name: forward;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .fadeLeft {
    animation-name: fadeLeft;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  .fadeTopToBottom {
    animation-name: fadeTopToBottom;
    animation-duration: 2s;
    animation-fill-mode: both;
  }

  @keyframes fadeTopToBottom {
    0% {
      opacity: 0;
      transform: translateY(-80%);
    }

    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes fadeLeft {
    0% {
      opacity: 0.8;
      transform: translateX(80%);
    }

    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes forward {
    0% {
      margin-left: 1rem;
    }
    100% {
      margin-right: 0rem;
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
