@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    font-size: 62.5%;
  }
  body {
    @apply bg-stone-100;
  }
  .text-hover {
    @apply hover:text-hoverColor transition-all hover:duration-300 hover:-translate-y-1;
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid black;
    border-right-color: gray;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
